@model BMOS.Models.Entities.TblProduct

@{
    Layout = "_ManagePage";
    ViewData["Title"] = "Delete";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

    <h3>Bạn chắc chắn muốn xóa sản phẩm này</h3>
    <div style="margin-left:1rem">
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Tên
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                Số Lượng
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Quantity)
            </dd>
            <dt class="col-sm-2">
                Thông Tin
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                Cân nặng
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Weight)
            </dd>
            <dt class="col-sm-2">
                Trạng thái
            </dt>
            <dd class="col-sm-10">
                @{
                    if ((Model.Status) == true)
                    {
                        <p style="color:green; border-radius: 25px; background-color: lightgreen; inline-size: 50%;text-align:center;">Còn Hàng </p>

                    }
                    else
                    {
                        <p style="color:black; border-radius: 25px; background-color: orangered; inline-size: 50%;text-align:center; ">Hết Hàng </p>
                    }
                }
            </dd>
            <dt class="col-sm-2">
                Giá tiền
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ProductId" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <form asp-action="Index">
                <button style="margin-left:8rem" type="submit" class="btn btn-secondary">Back to List</button>
            </form>
        </form>
    </div>
</body>
</html>
