@model X.PagedList.IPagedList<BMOS.Models.Entities.TblUser>
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    Layout = "_ManagePage";
    ViewData["Title"] = "Account Manage";
}


<h1>Quản lý tài khoản</h1>
<br></br>
<a style="text-decoration:none;color:darkorange" asp-controller="AccountManage" asp-action="Index">
    <button type="button" class="btn btn-primary">Tạo Sản Phẩm Mới</button>
</a>
<a style="text-decoration:none;color:darkorange" asp-controller="AccountManage" asp-action="Index">
    <button type="button" class="btn btn-warning">Làm mới</button>
</a>

<table class="table">
    <thead>
        <tr>
            <th>Mã khách hàng</th>
           
            <th><a style="text-decoration:none; color:darkorange" asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-searchString="@ViewData["SearchParameter"]">Tài khoản</a></th>
            <th>Xác nhận</th>
            <th>Họ</th>
            <th>Tên</th>
            <th>Số điện thoại</th>
            
            <th><a style="text-decoration:none; color:darkorange" asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]" asp-route-searchString="@ViewData["SearchParameter"]">Thời gian hoạt động gần nhất</a></th>
            
            <th>Trạng thái</th>
            <th>Chức vụ</th>
            <th class="col-2">Hành động</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                
                <td>
                    @{
                        if ((item.IsConfirm) == true)
                        {
                            <p style="color:green; border-radius: 25px; background-color: lightgreen; inline-size: 100%;text-align:center;">Đã xác nhận </p>

                        }
                        else
                        {
                            <p style="color:black; border-radius: 25px; background-color: orangered; inline-size: 100%;text-align:center; ">Chưa xác nhận </p>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numberphone)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.LastActivitty)
                </td>
                
                <td>
                    @{
                        if ((item.Status) == true)
                        {
                            <p style="color:green; border-radius: 25px; background-color: lightgreen; inline-size: 100%;text-align:center; ">Hoạt động </p>

                        }
                        else
                        {
                            <p style="color:black; border-radius: 25px; background-color: orangered; inline-size: 100%;text-align:center; ">Không hoạt động </p>
                        }
                    }
                </td>
                <td>
                    @{
                        if ((item.UserRoleId) == 1)
                        {
                            <p style="color:darkblue; border-radius: 25px; background-color: cornflowerblue; inline-size: 100%;text-align:center;">Quản lý </p>
                        }
                        else if ((item.UserRoleId) == 2)
                        {
                            <p style="color:black; border-radius: 25px; background-color: hotpink; inline-size: 100%;text-align:center;">Staff </p>
                        }
                        else if ((item.UserRoleId) == 3)
                        {
                            <p style="color:black; border-radius: 25px; background-color: blanchedalmond; inline-size: 100%;text-align:center;">Khách hàng </p>
                        }
                        else
                        {
                            <p style="color:black; border-radius: 25px; background-color: orangered; inline-size: 100%;text-align:center;">Không có chức vụ </p>
                        }
                    }
                <td>
                    <a style="text-decoration:none;" asp-action="Edit" asp-route-id="@item.UserId">
                        <button type="button" class="btn btn-primary">Chỉnh sửa</button>
                    </a>
                    <a style="text-decoration:none;" asp-action="Details" asp-route-id="@item.UserId">
                        <button type="button" class="btn btn-info">Chi Tiết</button>
                    </a>
                    

                </td>
            </tr>
        }
    </tbody>
</table>
<div style="font-size:2rem; margin-bottom:2rem; margin-left:1rem;">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) trên @Model.PageCount
</div>
<div style="font-size:1rem; margin-bottom:2rem; margin-left:1rem;">
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
    new PagedListRenderOptions {
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" }
    })
</div>