@model BMOS.Models.Entities.TblRouting

@{
    Layout = "_ManagePage";
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div style="margin-left:1rem">
    <h4>Chi tiết lộ trình</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên 
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Thông tin
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
           Số lượng
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            Giá tiền
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            Trạng thái
        </dt>
        <dd class = "col-sm-10">
                @{
                    if ((Model.Status) == true)
                    {
                                <p style="color:green; border-radius: 25px; background-color: lightgreen; inline-size: 120px;text-align:center;">Còn Hàng </p>

                    }
                    else
                    {
                                <p style="color:black; border-radius: 25px; background-color: orangered; inline-size: 120px;text-align:center; ">Hết Hàng </p>
                    }
                }
        </dd>
    </dl>
</div>
<div>

        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", new { id = Model.RoutingId })'">Chỉnh sửa</button>
        <a asp-action="Index" class="btn btn-secondary">Trở lại</a>
</div>
</body>
</html>
