@model X.PagedList.IPagedList<BMOS.Models.FeedbackInfo>
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@{
    //var feedbackInfo = ViewData["FeedbackInfo"] as FeedbackInfo;
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ManagePage.cshtml";
}

<h1>Quản lý đánh giá</h1>
<a style="text-decoration:none;color:darkorange" asp-controller="FeedbackManager" asp-action="Index">
    <button type="button" class="btn btn-warning">Làm mới</button>
</a>
<table class="table">
    <thead>
        <tr>        
            <th>
                Ảnh sản phẩm
            </th>
            <th class="col-2">
                Tên sản phẩm
            </th>
            <th class="col-4">
                Nội dung đánh giá
            </th>
            <th class="col-2">
                Tên tài khoản
            </th>
            <th class="col-1">
                <a style="text-decoration:none;color:darkorange" asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]" asp-route-searchString="@ViewData["SearchParameter"]">Số Sao</a>
            </th>
            <th class="col-1">
                <a style="text-decoration:none; color:darkorange" asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-searchString="@ViewData["SearchParameter"]">Thời gian</a>
            </th>
            <th class="col-1">
                Hành động
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>    
                <td>
                    <img src="@item.urlImage" style="width: 100px; height: 100px" />
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.userName)
                </td>
            <td>
                    @{
                        if ((item.Star) == 5)
                        {
                            <p style="color:whitesmoke; border-radius: 25px; background-color: #57e32c; inline-size: 100%;text-align:center;">5/5</p>

                        }
                        if ((item.Star) == 4)
                        {
                            <p style="color:whitesmoke; border-radius: 25px; background-color: #b7dd29; inline-size: 100%;text-align:center; ">4/5</p>
                        }
                        if ((item.Star) == 3)
                        {
                            <p style="color:whitesmoke; border-radius: 25px; background-color: #ffe234; inline-size: 100%;text-align:center; ">3/5</p>
                        }
                        if ((item.Star) == 2)
                        {
                            <p style="color:whitesmoke; border-radius: 25px; background-color: #ffa534; inline-size: 100%;text-align:center; ">2/5</p>
                        }
                        if ((item.Star) == 1)
                        {
                            <p style="color:whitesmoke; border-radius: 25px; background-color: #ff4545; inline-size: 100%;text-align:center; ">1/5</p>
                        }
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                    <a style="text-decoration:none;" asp-route-id="@item.FeedbackId" data-bs-toggle="modal" data-bs-target="#fbdetail-@item.FeedbackId">
                        <button type="button" class="btn btn-info">Chi tiết</button>
                    </a>
                    
                         <div class="modal" tabindex="-1" id="fbdetail-@item.FeedbackId">
                            <div class="modal-dialog modal-xl modal-fullscreen-xl-down">
                                <div class="modal-content ">
                                    <div class="modal-header">
                                        <h5 class="modal-title fw-bold" style="font-size:3rem;">chi tiết đánh giá</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                                    </div>

                                    <div class="info" style="padding-left:25rem;">
                                    <dl class="row" style="padding:10px 10px;">
                                             <dt class="col-sm-2">
                                                 Hình sản phẩm:
                                            </dt>
                                             <dd class="col-sm-10">
											<img src="@item.urlImage" width="200px" height="200px"/>
                                             </dd>
                                                <dt class="col-sm-2">
                                                    Tên sản phẩm:
                                                </dt>
                                                <dd class="col-sm-10">
                                                    @item.Name
                                                </dd>
                                                <dt class="col-sm-2">
                                                    Nội dung đánh giá:
                                                </dt>
                                                <dd class="col-sm-10">
                                                @item.Content
                                                </dd>
                                                <dt class="col-sm-2">
                                                    Tên tài khoản:
                                                </dt>
                                                <dd class="col-sm-10">
                                                @item.userName
                                                </dd>
                                                <dt class="col-sm-2">
                                                    Số sao:
                                                </dt>
                                                <dd class="col-sm-10" style="padding-right:50rem;">
                                                    @{
                                                        if ((item.Star) == 5)
                                                        {
                                                            <p style="color:whitesmoke; border-radius: 25px; background-color: #57e32c; inline-size: 100%;text-align:center;">5/5</p>

                                                        }
                                                    if ((item.Star) == 4)
                                                        {
                                                            <p style="color:whitesmoke; border-radius: 25px; background-color: #b7dd29; inline-size: 100%;text-align:center; ">4/5</p>
                                                        }
                                                    if ((item.Star) == 3)
                                                        {
                                                            <p style="color:whitesmoke; border-radius: 25px; background-color: #ffe234; inline-size: 100%;text-align:center; ">3/5</p>
                                                        }
                                                    if ((item.Star) == 2)
                                                        {
                                                            <p style="color:whitesmoke; border-radius: 25px; background-color: #ffa534; inline-size: 100%;text-align:center; ">2/5</p>
                                                        }
                                                    if ((item.Star) == 1)
                                                        {
                                                            <p style="color:whitesmoke; border-radius: 25px; background-color: #ff4545; inline-size: 100%;text-align:center; ">1/5</p>
                                                        }
                                                    }
                                                </dd>
                                                <dt class="col-sm-2">
                                                    Thời gian:
                                                </dt>
                                                <dd class="col-sm-10">
                                                @item.date
                                                </dd>
                                           </dl>
                                    </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                    <form method="post" asp-action="Delete" asp-route-id="@item.FeedbackId">

                                        <input type="submit" value="Xóa" class="btn btn-danger" />
                                    </form>
                                </div>
                                </div>
                            </div>
                        </div>
                            
            </td>
        </tr>
}   
       
        
    </tbody>
</table>
<div style="font-size:1rem; margin-left:1rem;">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) trên @Model.PageCount
</div>

<div style="font-size:1rem; margin-left:1rem;">
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
    new PagedListRenderOptions {
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" }
    })

</div>
