@model IEnumerable<BMOS.Models.top3final>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_ManagePage.cshtml";
}


<div class="dashboard" style="overflow-x: hidden; padding-left:10px;">
	<div class="row mb-4">
		<div class="col-md-4">
			<div class="d-flex flex-row widget income">
				<div class="d-flex flex-column justify-content-center p-5 iconnn">
					<i class="fa-solid fa-money-check-dollar" style="color: #5893f9; font-size:2rem;"></i>
				</div>
				<div class="d-flex flex-column m-auto py-3">
					<span class="lead" style="text-align:center;">Total Price </span>
					<h1 class="display 6 fw-bold">@string.Format("{0:#,0}", @ViewBag.TotalPrice)đ</h1>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="d-flex flex-row widget income">
				<div class="d-flex flex-column justify-content-center p-5 iconnn">
					<i class="fa-solid fa-cart-shopping" style="color: #66ff7f; font-size:2rem;"></i>
				</div>
				<div class="d-flex flex-column m-auto py-3">
					<span class="lead" style="text-align:center;">Total Order </span>
					<h1 class="display 6 fw-bold">@string.Format("{0:#,0}", @ViewBag.Totalorder) Đơn</h1>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="d-flex flex-row widget income">
				<div class="d-flex flex-column justify-content-center p-5 iconnn">
					<i class="fa-solid fa-clipboard" style="color: #ff3705; font-size:2rem;"></i>
				</div>
				<div class="d-flex flex-column m-auto py-3">
					<span class="lead" style="text-align:center;">Total Refund </span>
					<h1 class="display 6 fw-bold">@string.Format("{0:#,0}", @ViewBag.Totalrefund) Đơn</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="row">

		<div class="col-7">
			<div class="row mb-8">
				<div class="widget chart">
					<div class="p-Ц">
						<h5 class="fw-bold">Biểu đồ doanh thu</h5>
					</div>
					<ejs-chart id="spline" background="#1a222b">
						<e-chart-primaryxaxis valueType="DateTime"></e-chart-primaryxaxis>
						<e-chart-primaryyaxis valueType="Double"></e-chart-primaryyaxis>
						<e-series-collection>
							<e-series dataSource="@ViewBag.chartt" opacity=0.8 width=2 xName="day" yName="price" name="Price"
									  type="@Syncfusion.EJ2.Charts.ChartSeriesType.SplineArea">
								<e-series-border width="2"></e-series-border>
								<e-series-marker visible="true" height="6" width="6" isFilled="true" shape="@Syncfusion.EJ2.Charts.ChartShape.Circle"></e-series-marker>
							</e-series>

						</e-series-collection>

						<e-chart-tooltipsettings enable="true"></e-chart-tooltipsettings>
						<e-chart-legendsettings enableHighlight="true"></e-chart-legendsettings>
					</ejs-chart>
				</div>

			</div>
		</div>

		<div class="col-5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 mb-3 mb-lg-5">
                        <div class="card">
                            <div class="d-flex card-header justify-content-between">
                                <h5 class="me-3 mb-0">Top Customers</h5>
                            </div>
                            <div class="123">
                                <ul class="list-group list-group-flush">
                                    <!--List-item-->
									@foreach(var item in Model)
									{
										<li class="list-group-item pt-0">
											<div class="d-flex align-items-center">
												<div class="flex-shrink-0 me-3">
													<img src="@item.UrlImage" width="100px" height="100px"/>
												</div>
												<div class="flex-grow-1">
													<h6 class="mb-0">@item.name</h6>
													<p class="mb-0 text-muted">@string.Format("{0:#,0}", item.price)vnđ</p>
												</div>
												<div class="flex-shrink-0 text-end">
													<span>
														@item.quantity Sold
													</span>
												</div>
											</div>
										</li>
									}

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>

	</div>
</div>
