@model X.PagedList.IPagedList<BMOS.Models.BlogInfoModel>
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
	Layout = "_ManagePage";
	ViewData["Title"] = "Blog Manage";
}

<h1>Quản lý blog</h1>

<a style="text-decoration:none;" data-bs-toggle="modal" data-bs-target="#blogadd">
	<button type="button" class="btn btn-primary">Thêm Blog mới</button>
</a>
<div class="modal fade" id="blogadd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-fullscreen-xl-down">
		<div class="modal-content" style="background-color:white;">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Chỉnh sửa Blog</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form method="post" asp-action="Create" enctype="multipart/form-data">
				<div class="modal-body">
					<input name="BlogId" type="hidden" class="form-control" value="@Guid.NewGuid().ToString()" />
					<input type="hidden" value="@DateTime.Now" name="Date" class="form-control" />
					<input type="hidden" value="True" name="Status" class="form-control" />
					<div class="form-group">
						<label class="control-label">Tên Blog</label>
						<input name="Name" class="form-control" required />
					</div>
					<div class="form-group">
						<label for="recipient-name">Nội dung Blog</label>
						<textarea id="Description" name="Description" class="form-control" style="font-size:2rem;" required></textarea>
					</div>
					<div class="form-group">
						<span>Image</span>
						<input type="file" name="files" class="form-control" accept="image/*" required multiple />
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
					<button type="submit" class="btn btn-primary">Thêm mới</button>
				</div>
			</form>
		</div>
	</div>
</div>



<a style="text-decoration:none;color:darkorange" asp-controller="BlogManager" asp-action="Index">
    <button type="button" class="btn btn-warning">Làm mới</button>
</a>
<table class="table">
	<thead>
		<tr>
			<th>Ảnh blog</th>
			<th>Tên Blog</th>
			<th>Ngày tạo</th>
			<th>Trạng Thái</th>


		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					<img src="@item.blogImage" style="width: 100px; height: 100px"/>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.blogName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Date)
				</td>

				<td>
					<a style="text-decoration:none;" asp-route-id="@item.blogId" data-bs-toggle="modal" data-bs-target="#blogedit-@item.blogId">
                        <button type="button" class="btn btn-primary">Chỉnh sửa</button>
                    </a>
					<div class="modal fade" id="blogedit-@item.blogId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-xl modal-fullscreen-xl-down">
							<div class="modal-content">
								<div class="modal-header">
									<h1 class="modal-title fs-5" id="exampleModalLabel">Chỉnh sửa Blog</h1>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<form method="post" asp-action="Edit" asp-route-id="@item.blogId">
									<div class="modal-body">
										<input name="BlogId" type="hidden" class="form-control" value="@item.blogId" />
										<input type="hidden" value="@item.Date" name="Date" class="form-control" />
										<div class="form-group">
											<label class="control-label">Tên Blog</label>
											<input name="Name" value="@item.blogName" class="form-control" required />
										</div>
										<div class="form-group">
											<label for="recipient-name" >Nội dung Blog</label>
											<textarea id="Description-@item.blogId" name="Description" class="form-control ckeditor-field" style="font-size:2rem;" required>@Html.Raw(item.blogDescription)</textarea>
										</div>
										<div class="form-group">
											<label class="control-label">Trạng thái</label>
											<select name="Status" id="Status" value="@item.Status" class="form-control">
												<option selected="@(item.Status == false)" value="False">Tắt hoạt động</option>
												<option selected="@(item.Status == true)" value="True">Hoạt động</option>
											</select>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
										<button type="submit" class="btn btn-primary">Lưu</button>
									</div>
								</form>
							</div>
						</div>
					</div>

                    <a style="text-decoration:none;" asp-route-id="@item.blogId" data-bs-toggle="modal" data-bs-target="#fbdetail-@item.blogId">
                        <button type="button" class="btn btn-info">Chi tiết</button>
                    </a>
					
                    <div class="modal" tabindex="-1" id="fbdetail-@item.blogId">
                        <div class="modal-dialog modal-xl modal-fullscreen-xl-down">
                            <div class="modal-content ">
                                <div class="modal-header">
                                    <h5 class="modal-title fw-bold" style="font-size:3rem;">chi tiết đánh giá</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                                </div>

                                <div class="info" style="padding-left: 25rem;">
                                    <dl class="info" style="margin:10px">
                                        <dt class="col-sm-2">
                                          Hình Blog
                                        </dt>
                                        <dd class="col-sm-10">
											<img src="@item.blogImage" width="200px" height="200px" />
                                        </dd>
                                        <dt class="col-sm-2">
                                            Tên Blog
                                        </dt>
                                        <dd class="col-sm-10">
                                            @item.blogName
                                        </dd>
                                        <dt class="col-sm-2">
                                            Nội dung Blog
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.Raw(item.blogDescription)
                                        </dd>
                                        <dt class="col-sm-2">
                                            Ngày
                                        </dt>
                                        <dd class="col-sm-10">
                                            @item.Date
                                        </dd>
                                        <dt class="col-sm-2">
                                            Trạng thái
                                        </dt>
                                        <dd class="col-sm-10">
                                            @{
                                                if ((item.Status) == true)
                                                {
                                                    <p style="color:green;">Hoạt động </p>

                                                }
                                                else
                                                {
                                                    <p style="color:red">Không hoạt động </p>
                                                }
                                            }
                                        </dd>

                                    </dl>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                    <form method="post" asp-action="Delete" asp-route-id="@item.blogId">

                                        <input type="submit" value="Delete" class="btn btn-danger" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
				</td>

			</tr>
		}

	</tbody>


</table>
<div style="font-size:2rem; margin-bottom:2rem; margin-left:1rem;">
	Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) trên @Model.PageCount
</div>
<div style="font-size:1rem; margin-bottom:2rem; margin-left:1rem;">
	@Html.PagedListPager(Model, page => Url.Action("Index",
	new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
	new PagedListRenderOptions {
	LiElementClasses = new string[] { "page-item" },
	PageClasses = new string[] { "page-link" }
	})
</div>
@section Scripts {
	<script src="~/ckeditor/ckeditor.js"></script>
	<script>
		CKEDITOR.replace('Description');
	</script>
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			var ckeditorFields = document.getElementsByClassName('ckeditor-field');
			for (var i = 0; i < ckeditorFields.length; i++) {
				CKEDITOR.replace(ckeditorFields[i].id);
			}
		});
	</script>
    }