@model IEnumerable<BMOS.Models.RoutingDetailModel>
@{
	ViewData["Title"] = "Routing Detail";
	var totalPrice = ViewData["totalPrice"];
}

<div class="col-12 routing-list__title">
	Thành phần và nguyên liệu:
</div>
@foreach (var item in Model)
{

	string url = item.image;
	string[] delemeter = new string[] { "datnt" };
	string[] image = url.Split(delemeter, StringSplitOptions.None);

	<div class="row g-0 routing-list__item--list">
		<div class="col-2 routing-item__product-img">
			<img src="@image[0]" style="width: 100%" alt="" srcset="">
		</div>
		<div class="col-10 routing-item__product-desc">
			<div class="col-12 routing-item__product-desc--title">
				<span>Sản phẩm:</span>
				<span>@item.productName</span>
			</div>
			<div class="col-12 routing-item__product-desc--title">
				<span>Giá tiền:</span>
				<span style="color: red">
					@string.Format("{0:#,0}", item.productPrice)vnđ
				</span>
			</div>
			<div class="col-12 routing-item__product-desc--title">
				<span>Đã bán:</span>
				<span style="color: red">
					@string.Format("{0:#,0}", item.sold)
				</span>
			</div>
			<div class="col-12 routing-item__product-desc--title">
				<span>Sản phẩm có sẵn:</span>
				<input>
				<span style="color: red">
					@string.Format("{0:#,0}", item.getAvailableProduct())
				</span>
			</div>
			<div class="col-12 routing-item__product-desc--title" style="display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp:  4;
		overflow: hidden;
width: 60%;">
				<span>Mô tả:</span>
				<span class="js-product-desc" style="color: var(--text-color);">
					<input type="hidden" value="@item.description" name="product-desc" />

				</span>
			</div>

			<div class="edit-quantity-button">
				<span>Số lượng:</span>
				<div class="col-md-3 col-lg-3 col-xl-2 d-flex">
					<button type="submit" data-id="@item.productId" class="btn btn-link px-2 decrease-prodQuantity-btn"
							onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
						<i class="fas fa-minus"></i>
					</button>
					<input data-id="@item.productId" input type="number" value="@item.productQuantity" name="cartItemQuantity"
						   class="form-control form-control-sm product-quantity-form" />
					<button type="submit" data-id="@item.productId" class="btn btn-link px-2 increase-prodQuantity-btn"
							onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
						<i class="fas fa-plus"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

	$(document).ready(function () {

		var desc = $('.js-product-desc');
		var descValue = $('input[name="product-desc"]').val();
		var inputNumber = document.querySelectorAll('input[name="cartItemQuantity"]');

		console.log(inputNumber);
		desc.html(descValue);


		var totalPrice = $('input[name="totalPrice"]').val();
		for (let input of inputNumber) {
			input.addEventListener("change", function () {
				var quantity = parseInt($(this).val());
				var _id = $(this).data("id");
				$.ajax({
					url: "/Routing/EditRoutingDetail",
					data: {
						id: _id,
						status: "input",
						productQuantity: quantity,
					},
					type: "GET",
					success: function (data) {
						$(".routing-list__item").html(data);
					},
				});
			});
		}

		$('.routing-info__price-text').html()

		$('.decrease-prodQuantity-btn').click(function (e) {
			var _id = $(this).data("id");
			$.ajax({
				url: "/Routing/EditRoutingDetail",
				data: {
					id: _id,
					status: "decrease",
					productQuantity: 1,
				},
				type: "GET",
				success: function (data) {
					console.log(data)
					$(".routing-list__item").html(data);
				},
				error: function () {
					console.log("failt")
				}
			});
		});
		$('.increase-prodQuantity-btn').click(function (e) {
			var _id = $(this).data("id");
			$.ajax({
				url: "/Routing/EditRoutingDetail",
				data: {
					id: _id,
					status: "increase",
					productQuantity: 1,
				},
				type: "GET",
				success: function (data) {
					console.log(data)
					$(".routing-list__item").html(data)
				},
				error: function () {
					console.log("failt")
				}
			});
		});
	});

</script>
